body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #1F2937;
    color: white;
    margin-left: 20px;
}

h1 {
    font-family:Arial, Helvetica, sans-serif ;
}

#second-row {
    color:#34D399;
    margin-top: -20px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    margin-top: 20px;
    width: 150px;
    height: 30px;
    background-color: #34D399;
    color: white;
    border-radius: 5px;
    border-style: none;
}

.passfields {
    display: flex;
    justify-content:left;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}

#pass-2-box {
    display: flex;
    background-color: #273549;
    width: 160px;
    height: 40px;
    vertical-align: center;
    border-radius: 5px;
    
}

#pass-1-box {
    display: flex;
    margin-right: 85px;
    margin-bottom: 10px;
    background-color: #273549;
    width: 160px;
    height: 40px;
    vertical-align: center;
    border-radius: 5px;
}

#pass-1 {
    margin: auto;
    color:#34D399;
}

#pass-2 {
    margin: auto;
    color:#34D399;
}